*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: rgb(255, 255, 255);
}

.wrapper {
    display: flex;
    position: relative;

    .navbar {
        position: fixed;
        width: 200px;
        height: 100%;
        background: #002D62;
        padding: 30px 0;
        
        .logo {
            width: 40px;
            height: 40px;
            
        }

        h1 {
            color: #fff;
            text-align: center;
            margin-bottom: 30px;
        }

        ul li {
            padding: 15px;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(225,225,225,0.05);

            &:hover {
                background:#014088;
            }

            a {
                color: white;
                display: block;

                .fas {
                    width: 25px;
                }
            }
        }
    }

    .main {
        width: 100%;
        margin-left: 200px;
    }
}

.create {
    height: 600px;
    width: 500px;
    border-radius: 25px;
    padding: 2rem;

    margin-top: 5%;

    left: 40%;
    position: absolute;
    box-sizing: border-box;

    background: #002D62;
    //background: linear-gradient(180deg, rgb(0, 255, 213) 0%, rgb(0, 180, 212) 100%);
}

.create-card-logo,
.create-card-header,
.create-card-footer {
    text-align: center;
    color: white;
}

.create-card {
    a {
    text-decoration: none;
    color: white;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.create-card-header {
    margin-bottom: 0.5rem;

    h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
    }

    h1 + div {
        font-size: calc(1rem * .8)
    }
}

.create-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem * 1.5);
}

.create-card input[type ="text"],
.create-card input[type ="password"],
.create-card input[type ="email"] {
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 1.5);
    border-radius: 100px;
    width: 100%;
}

.create-card input[type = "checkbox"] {
    width: 16px;
    height: 16px;
}


.create-card-form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 0.75rem;

    .form-title {
        color:white;
        font-size: 1.5rem;
    }

    .form-item {
        .form-input {
            background-color: whitesmoke;
            font-size: 1.32rem;
        }
        .form-item-icon {
            position: relative;
            top: 2.35rem;
            left: 1.4rem;
            font-size: 1.32rem;
            opacity: .7;
        }
        .select-dropdown {
            font-size: 1.32rem;
            width: 20.5em;
            height: 2.5em;
            border-radius:5px;
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .form-item-other {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.8rem;
    }
    
    button{
        
        margin-top: 2%;
        background: black;
        color: white;
        padding: 1rem;
        border-radius: 100px;
        text-transform: uppercase;
        letter-spacing: 2px;
        
        &:hover{
            background-color: white;
            color: black;
            cursor: pointer;
        }
    }
}