@font-face {
    font-family: sansation;
    src: url('font/sansation_light.woff');
  }

body {
    margin: 0;
    padding: 20%;
    background-image: url("../images/background_waves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sansation;
}

.signin {
    height: 300px;
    width: 400px;
    border-radius: 25px;
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;

    background: rgb(131,215,255);
    background: linear-gradient(180deg, rgba(131,215,255,1) 0%, rgba(255,255,255,0.392127798384979) 100%);
}