@import "reset.css";

@font-face {
    font-family: sansation;
    src: url('font/sansation_light.woff');
  }

body {

    font-family: sansation;
}

.content {
    padding: 0;
    margin: 0;
    outline: 2px black solid;
    height: 100vh;

}

.waves {
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.signin {
    height: 300px;
    width: 400px;
    border-radius: 25px;
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;

    background: rgb(131,215,255);
    background: linear-gradient(180deg, rgba(131,215,255,1) 0%, rgba(255,255,255,0.392127798384979) 100%);
}